
/*====================================*/
.busqueda-container{
    display: flex;
    align-content: center;
    justify-content: center;
    margin: 0 0 5px 0;
}


.busqueda-input{
    width: 300px;
    padding: 3px 2px;
    margin: 0 2px;
    border: 1px solid #dee2e6;
    border-radius: 4px;
}

.busqueda-select{
    width: 50%;
    margin-right: 5px;
}

.busqueda-btn{
    color: #011826;
    background-color: #fdd45b;
    font-size: 13px;
    border: none;
    border-radius: 4px;
    padding: 3px 10px;
    margin: 0 2px;

}

.busqueda-btn:hover{
    background-color: #FFD200;
}

.busqueda-btn svg{
    font-size: 23px;
    fill: #F1F1F1;
}

.nuevo-btn{
    color: #F1F1F1;
    background-color: #0c6efd;
    border: none;
    border-radius: 4px;
    padding: 3px 5px;
    margin: 0 2px;
    font-size: 14px;
}

.nuevo-btn:hover{
    background-color: #0b5ed7;
}

.nuevo-btn svg{
    font-size: 15px;
    fill: #F1F1F1;
}

/*============================================*/
.resultado-container{
    display: flex;
    align-content: center;
    justify-content: center;
    margin: 20px 0px 20px 0px;
}

.table-resultado_Stock{
    border-collapse: collapse;
    width: 90%;
    height: 400px;

    display: block;
    overflow-x: auto;
    overflow-y: auto;
    white-space: nowrap;
}
/*
.table-resultado_Stock .static{
    position: absolute;
}
*/
.table-resultado_Stock thead{
    position: sticky;
    top: 0;
}

.table-resultado_Stock .cabecera th{
    font-size: 11px;
}

.table-resultado_Stock .cabecera .meCabIni{
    border-radius: 6px 0px 0px 0px;
    width: 40px;
    text-align: center;
}

.table-resultado_Stock .cabecera .meCabCentro{
    width: 40px;
    text-align: center;
    padding: 0 20px;
}

.table-resultado_Stock .cabecera .meCabFin{
    border-radius: 0px 6px 0px 0px;
    text-align: center;
}

.table-resultado_Stock th{
    background-color: #d8d8d8;
    padding: 4px 4px;
}

.table-resultado_Stock .data{
    height: 40px;
}

.table-resultado_Stock .data:hover{
    background-color: #e2e2e2;
    /*color: #F1F1F1;*/
}

.table-resultado_Stock .colBtn{
    text-align: center;
    border-bottom: 1px solid #b2b2b2;
}

.table-resultado_Stock .colBtn button{
    background: none;
    border: none;
}

.table-resultado_Stock .clickme{
    cursor: pointer;
}

.table-resultado_Stock .clickme:hover{
    font-weight: bold;
    text-shadow: 0 0 0.2em yellow, 0 0 0.2em yellow;
}

.table-resultado_Stock .colCentro{
    text-align: center;
    border-bottom: 1px solid #b2b2b2;
    font-size: 12px;
}

.table-resultado_Stock .colString{
    text-align: left;
    /*padding-left: 10px;*/
    padding: 0 5px;
    border-bottom: 1px solid #b2b2b2;
    font-size: 10px;

    /*AUTO AJUSTE DE ANCHO */
    width: 1%;
    white-space: nowrap;
}

.table-resultado_Stock .colNumero{
    text-align: right;
    padding-left: 15px;
    border-bottom: 1px solid #b2b2b2;
    font-size: 12px;
}

.table-resultado_Stock .danger_Alto{
    color: #9b0d0d ;
}

.table-resultado_Stock .danger_Medio{
    color: #ca8504;
}

/*============================================*/
.formModal{
    width: 100%;
}

.formModal tr .tdLabel{
    text-align: right;
    width: 35%;
}

.formModal .tdSeparador{
    padding: 5px;
    text-align: center;
}

.formModal .tdvalue select{
    border: 1px solid #F5F5F5;
    border-radius: 4px;
    padding: 2px 5px;
    min-width: 210px;
}

.formModal .tdvalue input{
    border: 1px solid #F5F5F5;
    border-radius: 4px;
    padding: 2px 5px;
}

.formModal tr .tdOperaciones{
    text-align: center;
    padding: 30px 0 0 0;
}

.formModal tr .tdOperaciones button{
    padding: 3px 50px;
    border: None;
    border-radius: 4px;
    background-color: #0d6efd;
    color: #F1F1F1;
}

.formModal tr .tdOperaciones button:hover{
    background-color: #0a53be;
}

/*============================================*/
/*============================================*/
/*============================================*/

@media screen and (max-width: 700px) {
    .busqueda-input{
        width: calc(50% - 2em);
    }

}

.sticky-thc {
    tr {
      position: sticky;
      top: 0;
    }
  }