/* Familia.css */
/* Estilo básico para los botones */

.pagination-controls {
    display: flex;
    justify-content: left;
    margin-top: 1rem;
}

.pagination-controls button {
    background-color: #0d6efd; /* Color de fondo azul */
    color: white; /* Texto blanco */
    border: none; /* Sin bordes */
    border-radius: 4px; /* Bordes redondeados */
    padding: 0.5rem 1rem; /* Espaciado interno */
    margin: 0 0.25rem; /* Espaciado entre botones */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    font-size: 0.8rem; /* Tamaño de la fuente */
    transition: background-color 0.3s; /* Transición suave para el color de fondo */
}

/* Estilo para el botón deshabilitado */
.pagination-controls button:disabled {
    background-color: #6c757d; /* Color de fondo gris para botones deshabilitados */
    cursor: not-allowed; /* Cursor de no permitido */
}

/* Estilo para el botón al pasar el mouse sobre él */
.pagination-controls button:hover:not(:disabled) {
    background-color: #0d6efd; /* Color de fondo más oscuro al pasar el mouse */
}
@media (max-width: 576px) {
    .pagination-controls button {
        font-size: 0.8rem;
        padding: 0.5rem 0.75rem;
    }
}
