 /* Estilo para el detalle del modal*/

 .modal-detail{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
  }
  
  /* Estilos para el contenido del modal */

  .modal-content-detail-x {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px; /* Ancho máximo del contenido */
    max-height: 80vh; /* Máxima altura del contenido en relación con la altura de la ventana */
    overflow-y: auto; /* Desplazamiento vertical si es necesario */
  }

  .modal-content-detail {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-height: 80%; 
    overflow-y: auto; 
  }
  
  /* Estilos para el botón de cerrar */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* Estilos para la tabla */
  .table-container {
    height: 450px; /* Altura fija de la tabla */
    overflow-y: auto; /* Desplazamiento vertical si es necesario */
  }
  
  .table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  /* Estilos para la cabecera de la tabla */
  thead {
    position: sticky;
    top: 0;
    background-color: #f2f2f2;
  }
  

  
  /* Ajustar márgenes para dispositivos móviles */
  @media screen and (max-width: 768px) {
    .modal-content-detail {
      margin: 25% auto;
      padding: 15px;
      width: 90%;
    }
  }
  