/* Estilo para el modal */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    overflow: auto;
  }

  /* Mostrar el modal cuando esté activo */
.modal.show {
  display: flex;
  justify-content: center;
  align-items: center;
}
  
  /* Estilo para el contenido del modal */
  .modal-content {
    background-color: #fff;
    margin: 20% auto;
    padding: 20px;
    border-radius: 5px;
    max-width: 400px;
  }
  
  /* Estilo para los botones dentro del modal */
  .modal-buttons {
    text-align: center;
  }
  
  .modal-buttons button {
    margin: 5px;
    width: 20%;
  }
  
  .modal-h2 {
    text-align: center;
  }

  .message-container {
    text-align: center;
    color: red;
    margin-right: 55px;
}


