.container-term {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  

  /* Agrega más estilos según sea necesario para el contenido */

.title-term {
    font-size: 30px;
    text-align: center;
    color: #333;
    margin-bottom: 20px;
    font-weight: bold;
  }

.subtitle-term{
    font-size: 20px;
    color: #333;
    margin-bottom: 20px;
    font-weight: bold;
}
  
  .section {
    margin-bottom: 20px;
    text-align: justify;
    
  }
  
  .section h2 {
    color: #007bff;
    margin-bottom: 10px;
    
  }
  
  .section p {
    color: #555;
    line-height: 1.6;
    
  }
  
  .section ul {
    list-style-type: disc;
    margin-left: 20px;
  }
  
  .section ul li {
    margin-bottom: 5px;
  }


  @media (max-width: 768px) {
    .container-term {
      padding: 10px;
    }
    
    .title-term {
      font-size: 24px;
    }
    
    .section {
      font-size: 16px;
    }
  }
  
  