/* login.css */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content-usuario {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    width: 100%;
    position: relative;
}

.close-usuario {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
    border: none;
    background: none;
}

.toggle-password-btn {
    position: absolute;
    right: 15px;
    top: 12px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    outline: none;
}

.form-floating {
    margin-bottom: 1rem; /* Espacio entre los elementos del formulario */
}
