.menutop {
    height: 70px;
    width: 100%;
    padding: 10px 20px;
    background-color: #1a1b1d;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 3px solid #cca800;
}

.menutop .menu-cab {
    display: inline;
}

.menutop .menu-cab .nav-logo {
    display: inline-block;
    margin-top: -7px;
    align-items: center;
}

.menutop .nav-links {
    display: inline;
    float: right;
    font-size: 16px;
}

.menutop .nav-links .loginBtn {
    display: inline-block;
    padding: 5px 15px;
    margin-left: 20px;
    font-size: 16px;
    color: rgb(9, 14, 90);
}

.menutop .nav-links a {
    padding: 10px 12px;
    text-decoration: none;
    font-weight: 550;
    color: white;
}

/* Hover effects */
.menutop .nav-links a:hover {
    background-color: #FFD200;
    color: #232020;
    border-radius: 0.25rem;
}

/* responsive menutop toggle button */
.menutop #nav-check,
.menutop .nav-btn {
    display: none;
}

@media (max-width:1024px) {
    .menutop .nav-btn {
        display: inline-block;
        position: absolute;
        top: 0px;
        right: 0px;
    }

    .menutop .nav-btn label {
        display: inline-block;
        width: 80px;
        height: 65px;
        padding: 25px;
    }

    .menutop .nav-btn label span {
        display: block;
        height: 10px;
        width: 25px;
        border-top: 3px solid #eee;
    }

    .menutop .nav-btn label:hover,
    .menutop #nav-check:checked~.nav-btn label {
        background-color: #2b2c2d;
    }

    .menutop .nav-links {
        position: absolute;
        display: block;
        font-size: 16px;
        text-align: center;
        width: 70%;
        background-color: #1a1b1d;
        transition: all 0.3s ease-in;
        overflow-y: hidden;
        top: 70px;
        right: 0px;
    }

    .menutop .nav-links a {
        display: block;
    }

    /* when nav toggle button not checked */
    .menutop #nav-check:not(:checked)~.nav-links {
        height: 0px;
    }

    /* when nav toggle button is checked */
    .menutop #nav-check:checked~.nav-links {
        height: calc(100vh - 70px);
        overflow-y: auto;
    }

    .menutop .nav-links .loginBtn {
        padding: 10px 40px;
        margin: 20px;
        font-size: 16px;
        font-weight: bold;
        color: #1a1b1d;
    }
}