.typeahead-form-group {
    position: relative;
  }
  
  .typeahead-list-group {
    position: absolute;
    z-index: 1000;
    width: 100%;
    top: 31px;
    left: 0;
  }
  
  .typeahead-list-group-item {
    /* padding: 0.3rem 1.3rem; */
    /* padding: 0rem 1.3rem; */
    background-color: #fff;
    height: 31px;
    overflow-y: hidden;
    /* line-height: 14px; */
    font-size: 14px;
  }
  
  .typeahead-list-group-item:hover {
    cursor: pointer;
    background: #3C8DBC;
    color: #fff;
  }

  .typeahead-spinner-container {
    display: flex;
    padding: 20px;
    width: 100%;
    background-color: #fff;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.125);
  }