.search-container-results{
    position: absolute;
    width: 100%;
    text-align: left;
    background-color: white;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 0px #ddd;
    border-radius: 10px;
    z-index: 5;
    font-size: small;
    margin-top: 0.5rem;
    max-height: 300px;
    overflow-y: scroll;
    border: 1px solid rgb(222, 226, 230);
}

.search-container-results ul{
    list-style-type: none;
    width: 100%;
    padding: 10px 5px;
}

.search-container-results li{
    padding: 5px 0px;
}

.search-container-results li:hover{
    background-color: #efefef;
}