.trafficLight {
    background-color: black;
    width: 80px;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* align-items: space-between; */
    padding: 5px 8px;
    border-radius: 10px;
  }
  .trafficLight span {
    width: 28px;
    height: 28px;
    border-radius: 100%;
    background-color: gray;
  }