@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  background: #111111;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: #ffcc00;
}


::-webkit-scrollbar-thumb {
  background-color: #ffcc00;
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #ffcc00;
}

.site-wrapper {
  border-top: 4px solid #ffcc00;
}


.honeycomb {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
  transform: translateY(80px);
  margin-top: -120px;
  margin-top: -80px;

}

.honeycomb-cell {
  cursor: pointer;
  -webkit-box-flex: 0;
  flex: 0 1 250px;
  max-width: 200px;
  height: 107.5px;
  margin: 65.4px 12.5px 5px;
  position: relative;
  padding: 0.5em;
  text-align: center;
  z-index: 1;
  box-shadow: 0px 0px 15px 0 rgba(0, 0, 0, 0.1);
}

.honeycomb-cell_img {
  object-fit: cover;
  object-position: center;
  filter: grayscale(100%);
  background: rgba(14, 17, 24, 0.97);
}

.honeycomb-cell_title {
  height: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-hyphens: auto;
  hyphens: auto;
  word-break: break-word;
  text-transform: uppercase;
  color: #fff;
  /*font-weight: 700;*/
  /*font-size: 1.75em;*/
  font-size: 14px;
  transition: opacity 350ms;
}

.honeycomb-cell_title>small {
  font-weight: 300;
  margin-top: 0.25em;
}

.honeycomb-cell::before,
.honeycomb-cell::after {
  content: '';
}

.honeycomb-cell::before,
.honeycomb-cell::after,
.honeycomb-cell_img {
  opacity: 0.65;
  top: -50%;
  left: 0;
  width: 100%;
  height: 200%;
  display: block;
  position: absolute;
  -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  z-index: -1;
}

.honeycomb-cell::before {
  background: black;
  transform: scale(1.055);
}

.honeycomb-cell::after {
  /*background: orange;*/
  opacity: 0.03;
  transition: opacity 350ms;
  -webkit-transition: opacity 350ms;
}

.honeycomb-cell:hover .honeycomb-cell_title {
  opacity: 10;
}

.honeycomb-cell:hover .honeycomb-cell_img {
  filter: grayscale(0%);
}

.honeycomb-cell:hover::before {
  /*opacity: 0.1;*/
  opacity: 0.8;
  background: rgba(14, 17, 24, 0.97)
  /*background: #deb70b;*/
  
}

.honeycomb-cell:hover::after {
  opacity: 0.1;
  /*background: #deb70b*/
}

.honeycomb_Hidden {
  display: none;
  opacity: 0;
  width: 250px;
  margin: 0 12.5px;
}


/*Nuevos estilos*/

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  padding-bottom: 110px;
  padding-top: 60px;
  background-position: center;
  transition: background-image 2s ease;
}

.image1 {
  background-image: url('img/imagen1.jpg');
  opacity: 0.6;
}

.image2 {
  background-image: url('img/imagen2.jpg');
  opacity: 0.5;
}

.image3 {
  background-image: url('img/imagen3.jpg');
  opacity: 0.5;
}


.title {
  display: block;
  /*font-family: "Avenir Next LT Pro Light", sans-serif;*/
  font-family: "Copperplate Gothic Light", sans-serif;
  font-size: 11px;
  letter-spacing: 1px;
  line-height: 24px;
  text-transform: uppercase;
  color: #ffcc00;
}


.page-title {
  margin-bottom: 75px;
}

.page-title img {
  margin-bottom: 20px;
}

.page-title h2 {
  font-size: 1.875rem;
  /*font-family: Geneva, Verdana, sans-serif;*/
  font-family: High Tower Text;
  /*margin-bottom: 25px;*/
  margin-top: 50px;
  position: relative;
  z-index: 0;
  font-weight: 900;
  text-transform: uppercase;
}

.page-title p {
  font-size: 16px;
}

.page-title .title-bg {
  color: rgba(30, 37, 48, 0.07);
  font-size: 158px;
  left: 0;
  letter-spacing: 10px;
  line-height: 0.7;
  position: absolute;
  right: 0;
  top: 50%;
  z-index: -1;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}



.heading-page {
  text-transform: uppercase;
  font-size: 43px;
  font-weight: bolder;
  letter-spacing: 3px;
  color: yellow;
}

a {
  text-decoration: none;
  color: inherit;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

a:hover,
a:focus {
  color: #ababab;
  text-decoration: none;
  outline: 0 none;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  color: #deb70b;
  font-family: "Open Sans", sans-serif;
  margin: 0;
  line-height: 1.3;
  text-align: center
}

p {
  margin-bottom: 20px;
}

::-moz-selection {
  background-color: #FA6862;
  color: #ffcc00;
}


::selection {
  background-color: #FA6862;
  color: #ffcc00;
}


.form-control::-webkit-input-placeholder,
::-webkit-input-placeholder {
  opacity: 1;
  color: inherit;
}

.form-control:-moz-placeholder,
:-moz-placeholder {
  /* Firefox 18- */
  opacity: 1;
  color: inherit;
}

.form-control::-moz-placeholder,
::-moz-placeholder {
  /* Firefox 19+ */
  opacity: 1;
  color: inherit;
}

.form-control:-ms-input-placeholder,
:-ms-input-placeholder {
  opacity: 1;
  color: inherit;
}

button,
input,
select,
textarea,
label {
  font-weight: 400;
}



.security-option {
  opacity: 0.8;
  font-weight: bold;
  letter-spacing: 1px;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  color: #ffcc00;
  text-transform: uppercase;
  position: fixed;
  top: 10px;
  /* Ajusta esta cantidad según sea necesario */
  right: 10px;
  /* Ajusta esta cantidad según sea necesario */
  /* background-color: #ffffff; */
  padding: 10px;
  /* border: 1px solid #ccc; */
  border-radius: 5px;
  z-index: 9999;
  /* Asegúrate de que esté por encima del contenido principal */

}

.security-option a {
  text-decoration: none;
  color: inherit;
}

.security-option a:visited .icon i {
  color:inherit;
}




/****** Responsive *******/

@media (max-width: 550px) {
  .honeycomb-cell {
    margin: 81.25px 25px;
  }
}


@media (min-width: 550px) and (max-width: 825px) {
  .honeycomb-cell:nth-child(3n) {
    margin-right: calc(50% - 125px);
    margin-left: calc(50% - 125px);
  }

  .honeycomb_Hidden:nth-child(3n + 5) {
    display: block;
  }
}


@media (min-width: 825px) and (max-width: 1100px) {

  .honeycomb-cell:nth-child(5n + 4) {
    margin-left: calc(50% - 275px);
  }

  .honeycomb-cell:nth-child(5n + 5) {
    margin-right: calc(50% - 275px);
  }

  .honeycomb_Hidden:nth-child(5n),
  .honeycomb_Hidden:nth-child(5n + 3) {
    display: block;
  }
}

@media (min-width: 1100px) {
  .honeycomb-cell:nth-child(7n + 5) {
    margin-left: calc(50% - 400px);
  }

  .honeycomb-cell:nth-child(7n + 7),
  .honeycomb-cell:nth-child(7n + 5):nth-last-child(2) {
    margin-right: calc(50% - 400px);
  }

  .honeycomb_Hidden:nth-child(7n + 7),
  .honeycomb_Hidden:nth-child(7n + 9),
  .honeycomb_Hidden:nth-child(7n + 11) {
    display: block;
  }
}


/* Estilo para el select */

#enlacesSelect {
  width: 205px; /* Ancho más pequeño */
  padding: 8px 12px; /* Espaciado interno reducido */
  font-size: 10px; /* Tamaño de fuente más pequeño */
  font-family: "Copperplate Gothic Light", sans-serif;
  border: 1px solid #ddd; /* Borde gris claro */
  border-radius: 4px; /* Bordes redondeados */
  /*background-color: rgb(26, 25, 25);*/
  background-color: #1c1c1c;
  background-image: linear-gradient(to bottom, #000 0%, #333 100%); /* Fondo degradado */
  color: #ffcc00; /* Color del texto */
  cursor: pointer; /* Cambia el cursor al pasar por encima */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra sutil */
  transition: border-color 0.3s ease, box-shadow 0.3s ease, opacity 0.3s ease; /* Transiciones suaves */
  opacity: 0.85; /* Opacidad por defecto */
  font-weight: bold;
}

/* Opciones del select con opacidad */
#enlacesSelect option {
  opacity: 0.85; /* Opacidad de las opciones */
  transition: opacity 0.3s ease; /* Transición suave */
}

#enlacesSelect option:hover {
  opacity: 0.85; /* Opacidad completa al pasar el ratón por encima */
}

/* Estilo cuando el select tiene el foco */
#enlacesSelect:focus {
  border-color: #72b3f8; /* Color del borde al hacer foco */
  box-shadow: 0 2px 4px rgba(0, 123, 255, 0.3); /* Sombra del select al hacer foco */
  outline: none; /* Quita el borde de enfoque predeterminado */
}

/* Estilo cuando el select está deshabilitado */
#enlacesSelect:disabled {
  background-color: black; /* Fondo gris claro */
  color: #6c757d; /* Color del texto deshabilitado */
  cursor: not-allowed; /* Cursor para deshabilitado */
  opacity: 0.65; /* Opacidad cuando está deshabilitado */
}
