@font-face {
  font-family: 'icomoon';
  src: url('fonts/icomoon.woff?l816ib') format('woff'),
  url('fonts/icomoon.svg?l816ib#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cog:before {
  content: "\e994";
}

.icon-mail:before {
  content: "\e903";
}
.icon-dot-single:before {
  content: "\e902";
}
.icon-chevron-thin-down:before {
  content: "\e901";
}
.icon-home:before {
  content: "\e900";
}
.icon-rocket:before {
  content: "\e9a5";
}
.icon-briefcase:before {
  content: "\e9ae";
}
.icon-menu:before {
  content: "\e9bd";
}
.icon-earth:before {
  content: "\e9ca";
}
