@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url('https://fonts.googleapis.com/css?family=Nunito|Lacquer');

* {
    margin: 0;
    padding: 0;
    font-family: Nunito, "poppins", "Helvetica Neue", sans-serif;
    /*font-family: "poppins", "Helvetica Neue", sans-serif;*/
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
    background-color: #F1F1EF;
}

.list td {
    font-size: 0.800rem;
    line-height: 1;
    vertical-align: middle !important;
}

thead {

    text-align: right;
    font-size: 0.85rem;
}

.list .td-cadena {
    text-align: center;
    font-size: 0.7rem;
}

.list .td-num {
    text-align: right;
    font-size: 0.7rem;
}

.list .bg-col-2 {
    background-color: #EEEEEE;
}

.avatar-sm {
    height: 3rem;
    width: 3rem
}

.avatar-title {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #405189;
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-weight: 500;
    height: 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%
}

/*.container-fluid {
    margin-top: 0px;
}*/
.label-1 {
    background-color: #42a942;
    vertical-align: middle !important;
    border-radius: 17%;
    color: #fff;
}

.label-9 {
    background-color: #d9534f;
    vertical-align: middle !important;
    border-radius: 17%;
    color: #fff;
}

.label-0 {
    background-color: #405189;
    vertical-align: middle !important;
    border-radius: 17%;
    color: #fff;
}

.input-optimo {
    vertical-align: middle !important;
    border-radius: 12%;
    background-color: #3CBC8D;
    color: rgb(255, 255, 255);
}

.input-permitido {
    vertical-align: middle !important;
    border-radius: 12%;
    background-color: #f3e309;
    color: rgb(255, 255, 255);
}

.input-limite {
    vertical-align: middle !important;
    border-radius: 12%;
    background-color: #f87a05;
    color: rgb(243, 9, 9);
}

/* tabla */