* {
	padding:0;
	margin:0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {background:#FEFEFE;}

.menu_bar {
	vertical-align: central;
}

.icon-menu {
	display: none;
}

header {
	width: 100%;
	border-bottom: 3px solid #FFD200;
	background-color: #0b0b0c;
	padding: 0;
	margin: 0 auto 10px auto;
	display: flex;
	justify-content: space-between;
}

header .LogoEmpresa{
	width: 95px;
	height: 50px;
	margin-top: 7px;
}

header nav {

	background-color: #0b0b0c;
	z-index:1000;

	max-width: 100%;
	width:100%;

	margin: 0;
	padding: 0;
	color: #ffffff;
}



header nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
	float: right;
}

header nav ul li {
	display: inline-block;
	position: relative;
	margin: 0;
}

header nav ul li:hover {
	background: #FFCE07;

}

header nav ul li a {
	color: #ffffff;
	display:block;
	text-decoration:none;
	padding: 20px;
}

header nav ul li a:hover {
	color: #1a1b1d;
}

header nav ul li a span {
	margin-right:10px;
}

header nav ul li:hover .children {
	display:block;
	padding: 0;
}

header nav ul li .children {
	display: none;

	background-color: #1a1b1d;
	position: absolute;
	width: 150%;
	z-index:1000;
}

header nav ul li .children li {
	display:block;
	overflow: hidden;
	border-bottom: 1px solid rgba(255,255,255,.5);
}

header nav ul li .children li a {
	display: block;
}

header nav ul li .children li a span {
	float: right;
	position: relative;
	top:3px;
	margin-right:0;
	margin-left:10px;
}

header nav ul li .caret {
	position: relative;
	top:3px;
	margin-left:10px;
	margin-right:0px;
}


@media screen and (max-width: 800px) {
	body {
		padding-top:80px;
	}

	header .LogoEmpresa{
		width: 95px;
		height: 50px;
		margin: 0;
	}

	.menu_bar {
		display:block;
		width:100%;
		position: fixed;
		top: 0;
		background:#0b0b0c;
		z-index: 1000;
	}

	.icon-menu{
		display:block;
	}

	.menu_bar .bt-menu {
		display: block;
		padding: 20px;
		color: #fff;
		overflow: hidden;
		font-size: 25px;
		font-weight: bold;
		text-decoration: none;
	}

	.menu_bar span {
		float: right;
		font-size: 40px;

	}
	header{
		margin-bottom: 30px;
	}
	header nav {
		width: 80%;
		height: calc(100% - 80px);
		position: fixed;
		right:100%;
		margin: 0;

		overflow: scroll;
		left: -100%;
		transition: left 0.5s ease;

	}

	.nav_active{
		left: 0;
	}

	header nav ul{
		float: none;
	}

	header nav ul li {
		display: block;
		border-bottom:1px solid rgba(255,255,255,.5);
	}

	header nav ul li a {
		display: block;
	}


	header nav ul li:hover .children {
	/*	display: none;*/
	}

	header nav ul li .children {
		width: 100%;
		position: relative;
	}



	header nav ul li .children li a {
		margin-left:20px;
	}

	header nav ul li .caret {
		float: right;
	}
}

